<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <!-- ——————————————————————————————————————————————————————————————————— META -->
  <meta charset="UTF-8">
  <title><%= "Interactive Things#{ " – " + data.page.title if data.page.title}" %></title>
  <meta name="Description" content="We Are Interactive Things — A design and technology studio in Zürich, Switzerland">
  <meta name="Keywords" content="Interaction Design, IxD, User Experience, UX, Interface Design, Data Visualization, Information Visualization, Interactive Media, New Media, Usability, Design, Production">
  <meta name="Author" content="Interactive Things GmbH">
  <meta name="Viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- ——————————————————————————————————————————————————————————————————— FAVICON -->
  <link rel="shortcut icon" href="/assets/app/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/assets/app/images/touch_icon_ipad.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/app/images/touch_icon_ipad.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/app/images/touch_icon_iphone4.png">
  <!-- ——————————————————————————————————————————————————————————————————— CSS -->
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_vendor_tag "polymaps/lib/tipsy/tipsy.css" %>
  <!-- ——————————————————————————————————————————————————————————————————— JS -->
  <%= javascript_vendor_tag 'modernizr/modernizr-2.0.6.min.js' %>
  <script type="text/javascript" src="http://use.typekit.com/nkw6rrg.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="<%= data.page.slug %>">
  <%= partial 'header' %>
  <%= yield %>
  <%= partial 'footer' %>
  <!-- ——————————————————————————————————————————————————————————————————— JS -->
  <%= javascript_vendor_tag 'jquery/jquery-1.6.3.min.js' %>
  <%= javascript_vendor_tag 'jquery.fitted/jquery.fitted.js' %>
  <%= javascript_vendor_tag 'polymaps/polymaps.js' %>
  <%= javascript_vendor_tag 'polymaps/lib/tipsy/jquery.tipsy.js' %>
  <%= javascript_vendor_tag 'respond/respond.min.js' %>
  <%= javascript_include_tag :base %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-15181280-2");
    pageTracker._setDomainName(".interactivethings.com");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>